node_modules/
build/
out/
.idea/
pids/
logs/
cache/
broadcast/

contracts/flattened/*.sol

# foundry lib
lib/forge-std/

.env
**/.bak
*/*.bak
genesis.json
validators.conf
*/*.sol-e
*/*/*.sol-e
scripts/__pycache__/